SHELL=/bin/bash
BASH_ENV=/etc/environment
0 */3 * * * /usr/local/bin/python /app/manage.py updateengagementscore > /proc/1/fd/1 2>/proc/1/fd/2
3 */3 * * * /usr/local/bin/python /app/manage.py updatepopscore > /proc/1/fd/1 2>/proc/1/fd/2
6 */3 * * * /usr/local/bin/python /app/manage.py updateroles > /proc/1/fd/1 2>/proc/1/fd/2
9 */3 * * * /usr/local/bin/python /app/manage.py updatetopcreators > /proc/1/fd/1 2>/proc/1/fd/2
12 */3 * * * /usr/local/bin/python /app/manage.py updatetopcurators > /proc/1/fd/1 2>/proc/1/fd/2
15 */3 * * * /usr/local/bin/python /app/manage.py updatemovierecommends > /proc/1/fd/1 2>/proc/1/fd/2
0 3 * * * /usr/local/bin/python /app/manage.py youtubelinkfix > /proc/1/fd/1 2>/proc/1/fd/2