SHELL=/bin/bash
BASH_ENV=/etc/environment
10 18 * * * /usr/local/bin/python /app/manage.py updateengagementscore > /proc/1/fd/1 2>/proc/1/fd/2
15 18 * * * /usr/local/bin/python /app/manage.py updatepopscore > /proc/1/fd/1 2>/proc/1/fd/2
20 18 * * * /usr/local/bin/python /app/manage.py updateroles > /proc/1/fd/1 2>/proc/1/fd/2
25 18 * * * /usr/local/bin/python /app/manage.py updatetopcreators > /proc/1/fd/1 2>/proc/1/fd/2
30 18 * * * /usr/local/bin/python /app/manage.py updatetopcurators > /proc/1/fd/1 2>/proc/1/fd/2
